html {
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(240, 244, 244, .6);
    z-index: 99900;
    backdrop-filter: blur(4px);
}

.header__logo {
    display: block;
    width: 13vw;
    height: max-content;
    margin-block: .5vw;
    margin-inline: auto;
}

.header__logo-icon {
    width: 100%;
    height: auto;
}

.header__items {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    padding-inline: 1vw;
    margin-inline: auto;
    margin-block: 0 1vw ;
    position: relative;
    /* border-inline: solid 1px rgba(192, 192, 192, 0.35); */
    border-inline: 1px solid var(--color-white);
}

.header__items:before {
    content: '';
    display: block;
    width: 300%;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    height: 5px;
    /* border-top: solid 1px rgba(192, 192, 192, 0.35); */
    /* border-bottom: solid 1px rgba(192, 192, 192, 0.35); */
    border-top: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    left: 100%;
    margin-left: 1px;
}

.header__items:after {
    content: '';
    display: block;
    width: 300%;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    height: 5px;
    /* border-top: solid 1px rgba(192, 192, 192, 0.35);
    border-bottom: solid 1px rgba(192, 192, 192, 0.35); */
    border-top: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    right: 100%;
    margin-right: 1px;
}

.header__item {
    color: var(--color-white);
    font-family: var(--font-family-light);
    font-size: 1.3vw;
    text-decoration: none;
    padding: .3vw .8vw;
    margin-inline: .5vw;
    border: 2px solid transparent;
    border-radius: 0;
    transition: .3s all ease;
}

.header__item:hover {
    transform: scale(1.05);
    border: 2px solid var(--color-white);
}

#headerServices .header__items {
    border-inline: 2px solid var(--color-black);
}

#headerServices .header__item {
    color: var(--color-black);
}

#headerServices  .header__item:hover {
    transform: scale(1.05);
    border: 1px solid var(--color-black);
}

#headerServices  .header__items:after {
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}

#headerServices .header__items:before {
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}

/* Main */
.main {
    width: 100vw;
    height: 100vh;
	position: relative;
	top: 0;
	background-image: url(../../images/clients/fondo_1.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 100;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 20vh;
}

.main__title {
    color: var(--color-white);
    font-family: var(--font-family-bold);
    font-size: 3vw;
}

.main__lines {
    display: flex;
    width: 70vw;
    margin-block: 1.5vw;
    height: 5px;
    border-top: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    position: relative;
}

.main__lines:after {
    content: '';
    height: 28px;
    width: 1px;
    background: var(--color-white);
    position: absolute;
    top: 0;
    bottom: 0;
    margin-block: auto;
    left: 100%;
}

.main__lines:before {
    content: '';
    height: 28px;
    width: 1px;
    background: var(--color-white);
    position: absolute;
    top: 0;
    bottom: 0;
    margin-block: auto;
    right: 100%;
}

.main__subtitle {
    color: var(--color-white);
    font-family: var(--font-family-light);
    font-size: 2vw;
}

.main__wsp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: .3vw 1.2vw;
    width: max-content;
    height: max-content;
    background: var(--color-wsp);
    border: 1px solid var(--color-white);
    height: auto;
    margin-inline: auto;
    margin-block: 2vw;
    transition: .3s all ease;
}

.main__wsp:hover {
    transform: scale(1.05);
}

.main__wsp-icon {
    fill: #fff;
    width: 1.8vw;
}

.main__wsp-label {
    color: #fff;
    font-size: 1.2vw;
    margin-inline: 1vw 0;
}

/* Servicios */
.servicios {
    width: 100vw;
    background: var(--color-tercery);
    padding-block: 3vw;
}

.servicios__titles {
    width: 100vw;
    display: block;
    background: var(--color-white);
    padding-block: 4vw;
}

.servicios__title {
    font-size: 3vw;
    text-align: center;
    margin-block: 0 2vw;
}

.servicios__subtitle {
    font-family: var(--font-family-light);
    font-size: 1.5vw;
    line-height: 1.6;
    text-align: center;
    max-width: 80vw;
    margin-inline: auto;
}

.servicios__items {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    margin-block: 2vw 0;
}

.servicios__items-slider {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
}

.servicios__item {
    color: var(--color-secundary);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: auto;
    margin-inline: 1vw;
}

.servicios__item:hover .servicios__item-wsp {
    transform: translateX(0);
}

.servicios__item:hover .servicios__item-img {
    transform: scale(1.05);
}

.servicios__item-imgs {
    width: 100%;
    display: block;
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;
}

.servicios__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s all ease;
}

.servicios__item-wsp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 50%;
    background: var(--color-wsp);
    transition: .3s all ease;
    position: absolute;
    bottom: .5vw;
    right: .5vw;
    z-index: 9999;
    transform: translateX(5vw);
}

.servicios__item-wsp:hover {
    transform: scale(1.1);
}

.servicios__item-icon {
    fill: var(--color-white);
    width: 60%;
}

.servicios__item-lines {
    display: flex;
    width: 105%;
    margin-block: 3px;
    margin-inline: -2.5%;
    height: 5px;
    border-top: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    position: relative;
}

.servicios__item-lines:after {
    content: '';
    height: 28px;
    width: 1px;
    background: var(--color-white);
    position: absolute;
    top: 0;
    bottom: 0;
    margin-block: auto;
    left: 100%;
}

.servicios__item-lines:before {
    content: '';
    height: 28px;
    width: 1px;
    background: var(--color-white);
    position: absolute;
    top: 0;
    bottom: 0;
    margin-block: auto;
    right: 100%;
}

.servicios__item-content {
    background: var(--color-white);
    display: block;
    width: 100%;
}

.servicios__item-title {
    font-family: var(--font-family-bold);
    font-size: 1.5vw;
    text-align: center;
    margin: 1vw;
}

.servicios__item-text {
    font-family: var(--font-family-light);
    font-size: 1.1vw;
    line-height: 1.3;
    text-align: center;
    margin: 1vw;
}

/* Nosotros */
.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
}

.nosotros__imgs {
    display: flex;
    width: 75vw;
    height: max-content;
    overflow: hidden;
}

.nosotros__slider {
    display: flex;
    width: 500%;
    height: max-content;
}

.nosotros__img {
    width: 75vw;
    height: auto;
}

.nosotros__lines {
    display: flex;
    width: 80vw;
    margin-block: 3px;
    height: 5px;
    border-top: 1px solid var(--color-tercery);
    border-bottom: 1px solid var(--color-tercery);
    position: relative;
}

.nosotros__lines:after {
    content: '';
    height: 28px;
    width: 1px;
    background: var(--color-tercery);
    position: absolute;
    bottom: 0;
    top: 0;
    margin-block: auto;
    left: 100%;
}

.nosotros__lines:before {
    content: '';
    height: 28px;
    width: 1px;
    background: var(--color-tercery);
    position: absolute;
    bottom: 0;
    top: 0;
    margin-block: auto;
    right: 100%;
}

.nosotros__titles {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: var(--color-white);
    margin-block: 1vw;
    padding-block: 2vw;
}

.nosotros__title {
    font-size: 3vw;
    text-align: center;
    margin-block: 0 2vw;
}

.nosotros__subtitle {
    font-family: var(--font-family-light);
    font-size: 1.5vw;
    line-height: 1.6;
    text-align: center;
    max-width: 80vw;
    margin-inline: auto;
}

.nosotros__text {
    font-family: var(--font-family-light);
    font-size: 1.2vw;
    text-align: center;
    max-width: 80vw;
    margin-inline: auto;
    margin-block: 2vw 3vw;
}

.nosotros__wsp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: .3vw 1.2vw;
    width: max-content;
    height: max-content;
    background: var(--color-wsp);
    border: 1px solid var(--color-secundary);
    height: auto;
    margin-inline: auto;
    margin-block: 3vw 1vw;
    transition: .3s all ease;
}

.nosotros__wsp:hover {
    transform: scale(1.05);
}

.nosotros__wsp-icon {
    fill: #fff;
    width: 1.8vw;
}

.nosotros__wsp-label {
    color: #fff;
    font-size: 1.2vw;
    margin-inline: 1vw 0;
}

/* Contacto */
.contacto {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-block: 3vw 5vw;
    margin-block: 0 3vw;
    background: var(--color-tercery);
}

.contacto__title {
    font-size: 3vw;
    text-align: center;
    margin-block: 0 2vw;
}

.contacto__container {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto__datas {
    display: block;
    width: max-content;
    margin-inline: 5vw 2vw;
}

.contacto__maps {
    display: block;
    width: 30vw;
    height: 20vw;
    margin-block: 1.5vw 1vw;
    background: var(--color-white);
}

.contacto__map {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-secundary);
}

.contacto__data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: .6vw;
}

.contacto__data-icon {
    fill: var(--color-secundary);
    width: 1.5vw;
    height: auto;
}

.contacto__data-label {
    font-family: var(--font-family-light);
    font-size: 1.2vw;
    margin-inline: .6vw 0;
}

.contacto__form {
    display: flex;
    flex-direction: column;
    margin-inline: 4vw;
}

.contacto__form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: .3vw;
}

.contacto__form-label {
    font-family: var(--font-family-light);
    font-size: 1.3vw;
}

.contacto__form-input {
    font-family: var(--font-family-light);
    font-size: 1.3vw;
    width: 20vw;
    padding: .2vw 1vw;
    border: 1px solid var(--color-secundary);
    outline: none;
    transition: .3s all ease;
}

.contacto__form-input:focus {
    transform: scale(1.05);
}

.contacto__form-textarea {
    font-family: var(--font-family-light);
    font-size: 1.3vw;
    width: 20vw;
    height: 7vw;
    padding: .2vw 1vw;
    border: 1px solid var(--color-secundary);
    outline: none;
    transition: .3s all ease;
}

.contacto__form-textarea:focus {
    transform: scale(1.05);
}

.contacto__form-adv {
    color: var(--color-white);
    font-family: var(--font-family-light);
    font-size: 1vw;
    padding: .2vw 1vw;
    margin-block: .5vw 0;
    display: none;
    width: calc(100% - 2vw);
    background: var(--color-primary);
}

.contacto__form-btn {
    color: var(--color-white);
    font-family: var(--font-family-bold);
    font-size: 1.3vw;
    padding: .2vw 1vw;
    width: 20vw;
    display: flex;
    justify-content: center;
    border: 1px solid var(--color-secundary);
    background: var(--color-primary);
    margin-block: 1vw 0;
    transition: .3s all ease;
    cursor: pointer;
}

.contacto__form-btn:hover {
    transform: scale(1.05);
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-block: 2vw 1vw;
    background: var(--color-tercery);
}

.footer__redes {
    display: flex;
    align-items: center;
    padding: .8vw 1.5vw;
    background: var(--color-white);
    margin-block: 0 1vw;
    border-radius: 1vw;
}

.footer__redes-link {
    margin-inline: .8vw;
    display: flex;
    width: 2.1vw;
    height: max-content;
    transition: .3s all ease;
    transition: .3s all ease;
}

.footer__redes-link:hover {
    transform: scale(1.1);
}

.footer__redes-icon {
    fill: var(--color-secundary);
    width: 100%;
    height: auto;
}

.footer__footer {
    display: flex;
    align-items: center;
    margin-block: 1vw 0;
}

.footer__text {
    font-family: var(--font-family-bold);
    font-size: 1vw;
    opacity: .6;
    margin-inline: 0 .5vw;
}

.footer__label {
    font-family: var(--font-family-bold);
    font-size: 1vw;
    margin-inline: .5vw;
    opacity: .6;
}

.footer__powered {
    color: var(--color-secundary);
    font-family: var(--font-family-bold);
    font-size: 1vw;
    text-decoration: underline;
    opacity: .6;
}

.footer__lines {
    display: flex;
    width: 50vw;
    margin-block: 3px;
    height: 5px;
    border-top: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    position: relative;
}

.footer__lines:after {
    content: '';
    height: 28px;
    width: 1px;
    background: var(--color-white);
    position: absolute;
    top: 0;
    bottom: 0;
    margin-block: auto;
    left: 100%;
}

.footer__lines:before {
    content: '';
    height: 28px;
    width: 1px;
    background: var(--color-white);
    position: absolute;
    top: 0;
    bottom: 0;
    margin-block: auto;
    right: 100%;
}

/* Success */
.query__success {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    transition: .3s all ease;
    transform: scale(0);
}

.query__success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: max-content;
    background: var(--color-tercery);
    border: 1px solid var(--color-secundary);
    position: relative;
    z-index: 100;
}

.query__success-img {
    width: 10vw;
    margin-block: 3vw 1vw;
}

.query__success-title {
    font-family: var(--font-family-bold);
    font-size: 1.5vw;
    text-align: center;
    max-width: 25vw;
    margin-block: 0 3vw;
}

/* Detalles */
.detalles {
    display: flex;
    align-items: center;
    width: 100vw;
    height: auto;
    min-height: 40vw;
    padding-block: 10vw 0;
}

.detalles__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#consultoraContainer { padding-block: 3vw; }
#consultoraContainer .detalles__texts-title { font-size: 2.4vw; margin-block: 0 2vw; }

.detalles__texts {
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin-inline: auto 3vw;
}

.detalles__texts-title {
    color: var(--color-black);
    font-family: var(--font-family-bold);
    font-size: 3vw;
    text-align: center;
}

.detalles__images .detalles__texts-title {
    display: none;
}

.detalles__texts-text {
    font-family: var(--font-family-light);
    font-size: 1.2vw;
    text-align: center;
    margin-inline: auto;
    margin-block: 2vw 0;
}

.detalles__images {
    display: flex;
    width: 35vw;
    height: auto;
    margin-inline: 3vw auto;
}

.detalles__images-slider {
    display: block;
    width: 100%;
    height: auto;
}

.detalles__images-img {
    width: 100%;
    height: auto;
}

/* Items */
.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    padding-block: 0 5vw;
}

.items__lines {
    display: flex;
    width: 92vw;
    margin-block: 3px;
    height: 5px;
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
    position: relative;
    margin-block: 0 3vw;
}

.items__lines:after {
    content: '';
    height: 28px;
    width: 1px;
    background: var(--color-black);
    position: absolute;
    top: 0;
    bottom: 0;
    margin-block: auto;
    left: 100%;
}

.items__lines:before {
    content: '';
    height: 28px;
    width: 1px;
    background: var(--color-black);
    position: absolute;
    top: 0;
    bottom: 0;
    margin-block: auto;
    right: 100%;
}

.items__container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.items__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23vw;
    margin-inline: 3vw;
}

.items__title {
    color: var(--color-black);
    font-family: var(--font-family-bold);
    font-size: 2vw;
    margin-block: 0 2vw;
    text-align: center;
}

.items__texts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.items__data {
    display: flex;
    align-items: center;
    margin-block: .4vw;
}

.items__data-icon {
    width: 2vw;
    margin-inline: 0 1vw;
}

.items__data-text {
    font-family: var(--font-family-light);
    font-size: 1.1vw;
    text-align: center;
    margin-inline: auto;
}

@media screen and (max-width: 700px) {
    .header__logo { width: 30vw; margin-block: 3vw; }
    .header__items {
        position: fixed;
        top: 0;
        left: 0;
        background: var(--color-tercery);
        height: 100vh;
        width: 100vw;
        border: none;
        flex-direction: column;
        transition: .3s all ease;
        transform: translateX(105%);
    }
    .header__items:before { display: none; }
    .header__items::after { display: none; }
    .header__item { color: var(--color-secundary); font-size: 7vw; margin-block: 7vw; }
    /* Main */
    .main { height: 120vw; background-image: url(../../images/clients/fondo_1-respo.webp); }
    .main__container { height: 100vw; top: 20vw; }
    .main__title { font-size: 8vw; text-align: center; }
    .main__lines { height: 2px; width: 95vw; margin-block: 2vw; }
    .main__lines:after { height: 15px; }
    .main__lines:before { height: 15px; }
    .main__subtitle { font-size: 5vw; text-align: center; max-width: 90vw; }
    .main__wsp { padding: 1.2vw 5vw; margin-block: 7vw 0; }
    .main__wsp-icon { width: 4vw; }
    .main__wsp-label { font-size: 3vw; margin-inline: 4vw 0; }
    /* Items */
    .detalles { padding-block: 25vw 0vw; }
    .detalles__container { flex-direction: column-reverse; }
    #consultoraContainer { padding-block: 0; }
    #consultoraContainer .detalles__texts-title { font-size: 6vw; margin-block: 0 4vw; }
    #consultoraContainer .detalles__texts { width: 85vw; margin-block: 4vw 8vw; }
    .detalles__texts { margin-inline: auto; width: 100vw; margin-block: 0; }
    .detalles__images { margin-inline: auto; width: 100vw; flex-direction: column; }
    .detalles__images-slider { width: 90%; margin-inline: auto; }
    .detalles__texts-title { font-size: 7vw; padding-inline: 5vw; display: none; margin-block: 0 4vw; }
    .detalles__images .detalles__texts-title { display: block; }
    .detalles__texts-text { font-size: 3vw; margin-block: 5vw; background: var(--color-tercery); padding: 5vw; }
    #laboratorioContainer .detalles__texts-text { margin-block: 5vw 0; }
    #laboratorioContainer .nosotros__wsp { margin-block: 5vw; }
    .items__lines { height: 2px; width: 95vw; margin-block: 2vw; }
    .items__lines:after { height: 15px; }
    .items__lines:before { height: 15px; }
    .items__container { flex-direction: column; }
    .items__content { width: 80vw; padding-inline: 10vw; margin-inline: auto; padding-block: 5vw; }
    .items__content:nth-of-type(2) { background: var(--color-tercery); }
    .items__title { font-size: 5vw; }
    .items__data { margin-block: 1.2vw; }
    .items__data-icon { width: 4vw; margin-inline: 0 3vw; }
    .items__data-text { text-align: start; font-size: 2.8vw; margin-inline: 0 auto; }
    /* Servicios */
    .servicios { padding-block: 8vw; }
    .servicios__titles { padding-block: 6vw; }
    .servicios__title { font-size: 6vw; }
    .servicios__subtitle { font-size: 3vw; max-width: 90vw; }
    .servicios__items { margin-block: 5vw 0; max-width: 90vw; overflow: auto; margin-inline: auto; justify-content: start; }
    .servicios__items-slider { width: max-content; }
    .servicios__item { width: 56vw; margin: 2vw; }
    .servicios__item-wsp { transform: translateX(0); width: 7vw; height: 7vw; bottom: 2vw; right: 2vw; }
    .servicios__item-lines { height: 2px; margin-block: 1px; }
    .servicios__item-lines:after { height: 15px; }
    .servicios__item-lines:before { height: 15px; }
    .servicios__item-content { padding-block: 3vw; }
    .servicios__item-title { font-size: 3.2vw; margin: 1.5vw 3vw 3vw 3vw; }
    .servicios__item-text { font-size: 2.5vw; margin: 1.5vw 3vw; }
    /* Nosotros */
    .nosotros__imgs { width: 90vw; margin-inline: auto; }
    .nosotros__img { width: 90vw; }
    .nosotros__lines { display: none; }
    .nosotros__titles { padding: 0; margin-block: 5vw 8vw; }
    .nosotros__title { font-size: 6vw; max-width: 90vw; margin-inline: auto; margin-block: 0 5vw; }
    .nosotros__subtitle { font-size: 3vw; max-width: 90vw; }
    .nosotros__wsp { padding: 1.2vw 5vw; margin-block: 7vw 0; }
    .nosotros__wsp-icon { width: 4vw; }
    .nosotros__wsp-label { font-size: 3vw; margin-inline: 4vw }
    /* Contacto */
    .contacto { padding-block: 8vw; margin-block: 0 6vw; }
    .contacto__title { font-size: 6vw; max-width: 90vw; margin-inline: auto; margin-block: 1vw 3vw; }
    .contacto__container { flex-direction: column-reverse; margin-inline: auto; }
    .contacto__datas { margin-inline: 0; margin-block: 4vw 0; }
    .contacto__maps { width: 75vw; height: 50vw; }
    .contacto__form { margin-inline: 0; }
    .contacto__form-item { margin-block: 1vw; }
    .contacto__form-label { font-size: 3vw; }
    .contacto__form-input { font-size: 3vw; width: 70vw; padding: .8vw 3vw; }
    .contacto__form-textarea { font-size: 3vw; width: 70vw; height: 20vw; padding: .8vw 3vw; }
    .contacto__form-adv { font-size: 2.8vw; margin-block: 2vw 0; padding: .4vw 3vw; width: calc(100% - 6vw); }
    .contacto__form-btn { width: 75vw; padding: 1vw 0; font-size: 3vw; margin-block: 3vw 0; }
    /* Footer */
    .footer { padding-block: 6vw 2vw; }
    .footer__redes { padding: 1.5vw 4vw; border-radius: 2vw; margin-block: 0 3vw; }
    .footer__redes-link { width: 6vw; margin-inline: 2vw; }
    .footer__lines { height: 2px; width: 90vw; margin-block: 4px; }
    .footer__lines:after { height: 15px; }
    .footer__lines:before { height: 15px; }
    .footer__footer { margin-block: 2vw 0; }
    .footer__text { font-size: 2vw; }
    .footer__label { font-size: 2vw; }
    .footer__powered { font-size: 2vw; }
    /* Success */
    .query__success-container { width: 65vw; padding: 2vw 4vw; }
    .query__success-img { width: 30vw; margin-block: 6vw 4vw; }
    .query__success-title { font-size: 3vw; max-width: 50vw; margin-block: 0 6vw; }
}